/* ## Layout


The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
---------------------------------------------------------------
## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%) 
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) arrow button
    background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

-----------------------------------------------------------------
### Body Copy

- Font size: 16px */


@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");

html, body, section{
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 6%, 24%);

}

body{
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
    /* background-color: purple; */
}

.mega-container{
    display: flex;
}

.side{
    display: flex;
    flex-direction: column;
}

.container{
    /* margin: 80px 150px; */
    max-width: 500px;
}

.left{
    flex: 2;
    /* background: linear-gradient( 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)); */
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}

.left .container #logo{
    margin-top: 8%;
}

.left .headings{
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 15px;
    margin-bottom: 20px;
}

.left .headings,
.left .text{
    text-align: left;
}

.left .headings span{
    font-size: 3.5rem;
    color:hsl(0, 36%, 70%);
    line-height: 0.8;
}

.left .text{
    color:hsl(0, 36%, 70%);
    line-height: 1.5;
    margin-bottom: 50px;
}


input{
    border-radius: 30px !important;
}

.input-group{
    width: 70% !important;
    position: relative;
}

.input:focus{
    outline: none !important;
}

.form-control{
    border: 2px solid #F2E8E9 !important;
    color: rgba(206, 151, 151, 0.4) !important;
    padding: 20px 30px !important;
    font-size: 0.9rem !important;
    padding-bottom: 100px;

}

.form-control::placeholder {
    color: #F2E8E9;
    opacity: 1; /* Firefox */
  }
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #F2E8E9;
  }
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: #F2E8E9;
}

.btn.submitButton{
    background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 65px;
    border-radius: 30px !important;
    margin-left: -60px;
    z-index: 999 !important;
}

.btn.submitButton:hover{
    transform: translateX(25%);
    transition: all 0.6s ease;
}

.right{
    flex: 1;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
}

.bg-mobile{
    display: none;
}

.info{
    height: 30px;
    display:flex;
    align-items: center;
}
.error{
    border: 2px solid hsl(0, 93%, 68%) !important;
    color: hsl(0, 93%, 68%) !important;
    background-color:  rgba(249, 98, 98, 0.15) !important;
}


.success{
    border: 2px solid #61d4b3 !important;
    color:  #61d4b3 !important;
}

.successMessage{
    color:  #61d4b3 !important;
    margin-left: 20px;
    text-shadow: 1px 0px 5px rgba(255, 255, 255, 0.5);
}

.errorMessage{
    background-image: url('images/icon-error.svg');
    margin-left: 20px;
    padding-left: 40px;
    background-repeat: no-repeat;
    color: hsl(0, 93%, 68%) !important;
}



@media screen and (max-width: 900px) { 
    
    section{
        width: 100%;
        height: 100vh;
    }

    .left{
        width: 100%;
    }

    .right{
        display: none;
    }

    .left .container #logo{
        margin: 30px 20px;
        width: 100px;
    }

    .bg-mobile{
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }

    .left h1.headings{
        font-size: 2.5rem;
        margin: 70px auto 20px;
    }
    
    .left .headings,
    .left .text{
        text-align: center;
    }
    
    .left .headings span{
        font-size: 2.5rem;
    }
    
    .left .text{
        margin-bottom: 30px;
        padding: 0 15px;
        font-size: 0.85rem;
    }


    .newsLetter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
