body{
    font-family: 'Raleway', sans-serif;
}

ul{
    padding-inline-start: 0px !important;
}

input[type=text],
input[type=text]:focus{
  color: #474747;
  border: 2px solid rgba(198, 203, 239, 0.45);
  background: #fff;
  max-width: 400px;
}

/* Title */
.title-section {
    background-color: #f9f6f7;
    padding: 50px 50px 30px;
}

h2.lead {
   color: #262626d8;
   font-size:3.5rem;
   font-weight: bold;
   text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
   font-family: 'Caveat', cursive;
}

.title-section .progress-box{
    border-radius: 5px;
    width: 50%;
}

.title-section .progress-box p{
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0 10px;
}

.numberOfTask{
    font-size: 1rem;
    font-weight: 300;

}

.title-section span{
    font-weight: 500;
    font-size: 1.5rem;
    color: #ff6337;
}

/* Tiltle Ends */

/* Search and Progress */
body,
.title-section,
.action-section,
.task-section{
    background-color: #fff;
    
}

.action-section .container{
    max-width: 600px;
    margin: 0 auto;
}

.pending-status{
    background-color: rgba(255, 216, 0,0.3);
}

.completed-status{
    background-color: #ccedd2;
}


/* Search and Progress Ends */

/* Task List */
.task-section .container{
    max-width: 400px;
    /* border: 5px solid rgba(198, 203, 239, 0.5); */
    border-radius: 10px;
}

.task-list{
    list-style: none;
    background-color: rgb(33, 191, 115);
    margin: 4px 0;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(238, 238, 238, 0.8);
}

.task-list p{
    padding-left: 5px;
    color: #fff;
}

.hide{
    display:none !important;
}
/* Task List Ends */


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .title-section {
        padding: 10px;
    }
    .title-section h2 {
        font-size: 3.0rem;
    }

    .title-section .progress-box{
        width: 100%;
    }

    .title-section .progress-box p{
        font-size: 1.1rem;
    }
    
    .numberOfTask{
        font-size: 0.8rem;
    }
    
    .title-section span{
        font-weight: 500;
        font-size: 1.2rem;
    }
    
   
}